## --------------------------------------------------------------------------
## Valid objects are:
##
## $comment    String            - The comment supplied in the commit dialog
## $config     CodeReviewConfig  - Configuration details from the plugin
##                                 settings
## $changes    List<ChangedFile> - A list of changed files that were found
## $htmlHelper HtmlUtils         - Some helper methods for escaping strings
## --------------------------------------------------------------------------
#set($insertedStyle = "color:#$config.InsertedLineColorAsHtml")
#set($deletedStyle = "color:#$config.DeletedLineColorAsHtml")
#set($omittedStyle = "color:#$config.OmittedLineColorAsHtml")
<html>
<head></head>
<body style="font-family:Tahoma,Helvetica,Arial,Sans-Serif;font-size:10pt;">
$htmlHelper.escape($comment)

<br />
<br />
<b>Files:</b><br />
<ul>
    #foreach($change in $changes)
        #if (!$change.BeforeRevision)
        ## We have a new file
        <li><font color="green">add</font> - $change.AfterFilename</li>
        #elseif (!$change.AfterRevision)
        ## We have deleted a file
        <li><font color="red">delete</font> - $change.BeforeFilename</li>
        #elseif ($change.AfterFilename != $change.BeforeFilename)
        ## We have renamed a file
        <li><font color="orange">move/rename</font> - $change.BeforeFilename <font color="orange">to</font> $change.AfterFilename</li>
        #else
        ## We have modified a file
        <li><font color="blue">edit</font> - $change.BeforeFilename</li>
        #end
    #end
</ul>
<br />
<b>Changes:</b><br />
<br />

#foreach ($change in $changes)
<HR>
  #if (!$change.BeforeRevision)
    ## We have a new file
<p><b>New file created</b><br/>
$change.AfterFilename</p>
  #elseif (!$change.AfterRevision)
    ## We have deleted a file
<p><b>File deleted</b><br/>
$change.BeforeFilename</p>
  #elseif ($change.BeforeFilename != $change.AfterFilename)
    ## We have renamed a file
<p><b>Renamed revision $change.BeforeRevision of file</b><br/>
<b>From:</b> $change.BeforeFilename<br/>
<b>To:</b> $change.AfterFilename</p>
  #else
<p><b>Modified revision $change.BeforeRevision of file</b><br/>
$change.BeforeFilename</p>
  #end

<pre style="font-family:ProFontWindows,Courier,Monospaced;font-size:9pt;">
#foreach ($line in $change.Lines)
#set($lineNum = $htmlHelper.pad($line.BeforeLineNumber, $change.MaxDigits))
#if ($line.Inserted)
#if ($line.PreviousDifferent)<span style="$insertedStyle">#end
$lineNum + $htmlHelper.escape($line)
#if ($line.NextDifferent)</span>#end
#elseif ($line.Deleted)
#if ($line.PreviousDifferent)<span style="$deletedStyle">#end
$lineNum - $htmlHelper.escape($line)
#if ($line.NextDifferent)</span>#end
#elseif ($line.Omitted)
<span style="$omittedStyle">...
$line.NumLinesOmitted lines skipped
...</span>
#else
$lineNum   $htmlHelper.escape($line)
#end
#end
</pre>

#end
</body>
</html>